* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;

}

.background img {
    height: 100%;
    width: 100%;
    position: fixed;

}

.black-layer {
    background-color: black;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: 9;
    position: fixed;
}

form {
    max-width: 80vw;
    width: 100%;

    z-index: 9999999;
margin-inline:auto;
    position: relative;

    padding-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;


}

.formBody {
    max-width: 400px;
    width: 100%;
}

input {
    background: transparent;
    border: 1px solid rgba(14, 184, 184, 0.8);
    max-width: 400px;
    width: 100%;
    height: clamp(40px, 5vw, 50px);
    padding-inline: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

input:focus {
    background: linear-gradient(rgba(14, 184, 184, 0.167) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid rgba(14, 184, 184, 0.8);
    transition: background 2s ease-in-out;
}

.label {
    color: rgba(255, 255, 255, 0.925);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: clamp(18px, 2vw, 22px);
}

input::placeholder {
    color: rgb(179, 179, 179);
    font-size: clamp(16px, 2vw, 22px);

}

input[type="file"] {
    padding-inline: 0px;

}

input[type="file"]::file-selector-button {
    background-color: rgba(16, 180, 180, 0.8);
    color: #000;
    border: none;
    height: clamp(40px, 5vw, 50px);
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    
}

.heading {
    color: rgb(17, 189, 189);
    z-index: 99999;
    position: relative;
    margin-top: 60px;
    text-align: center;
    font-size: clamp(24px, 2vw, 30px);
}

.SubmitButton {
    margin-top: 30px;
    height: clamp(40px, 5vw, 50px);
    padding-inline: 50px;
    font-size: clamp(18px, 2vw, 22px);
    border-radius: 5px;
    border: 2px solid rgba(16, 180, 180, 0.8);
    background-color: rgba(16, 180, 180,0.9);
    color: black;
    

}
.btnDiv{
    width: 100%; display: flex; justify-content: center;
}
/* Loader overlay that covers entire page */
#loader {
  display: none; /* hidden initially */
  position: fixed;
 top: 40%;
 left: 45%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* semi-transparent dark overlay */
  z-index: 9999; /* above all elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner animation */
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

